<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andres Moreno Dev</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="header.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="header__container-logo">
            <h1 class="header__logo"><span>Dev</span> Andres Moreno<span>.</span></h1>
        </div>

        <nav class="header__nav">
            <ul class="header__nav__list" id="header__nav__list">
                <li class="header__nav__item"><a href="#home-wrapper">Home</a></li>
                <li class="header__nav__item"><a href="#about-wrapper">About Me</a></li>
                <li class="header__nav__item"><a href="#proyects-wrapper">Proyects</a></li>
                <li class="header__nav__item"><a href="#contact-wrappe">Contact</a></li>
            </ul>
        </nav>
        <div class="header__redes-sociales">
            <a target="_blank" href="https://www.linkedin.com/in/andres-daniel-moreno-prieto/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" href="https://github.com/AndrexMoreno10"><i class="fa-brands fa-github"></i></a>
            <a target="_blank" href="https://wa.me/3205426119"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </header>

</body>

</html>