<header class="header">
    <div class="header__inner">
        <div class="header__container-logo">
            <h1 class="header__logo"><span>Dev</span> Andres Moreno<span>.</span></h1>
        </div>

        <nav class="header__nav">
            <ul class="header__nav__list" id="header__nav__list">
                <li class="header__nav__item"><a href="#home-wrapper">Home</a></li>
                <li class="header__nav__item"><a href="#about-wrapper">About Me</a></li>
                <li class="header__nav__item"><a href="#services-wrapper">Services</a></li>
                <li class="header__nav__item"><a href="#projects-wrapper">Projects</a></li>
                <li class="header__nav__item"><a href="#contact-wrapper">Contact</a></li>
            </ul>
        </nav>

        <div class="header__redes-sociales">
            <a target="_blank" href="https://www.linkedin.com/in/andres-daniel-moreno-prieto/" aria-label="LinkedIn" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://github.com/AndrexMoreno10" aria-label="GitHub" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <a target="_blank" href="https://wa.me/573205426119" aria-label="WhatsApp" rel="noopener noreferrer">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </div>
</header>
